{% if page.url contains 'individus' %}
	<div class="aside-nav-active">
{% else %}
	<div class="aside-nav-passive">
{% endif %}
		<a href="/individus.html">Individus</a>
	</div>

{% if page.url contains 'groupes-et-organisations' %}
	<div class="aside-nav-active">
{% else %}
	<div class="aside-nav-passive">
{% endif %}
		<a href="/groupes-et-organisations.html">Groupes et organisations</a>
	</div>
	
{% if page.url contains 'stages' %}
	<div class="aside-nav-active">
{% else %}
	<div class="aside-nav-passive">
{% endif %}
		<a href="/stages.html">Stages</a>
	</div>

{% if page.url contains 'spectacles-et-conferences' %}
	<div class="aside-nav-active">
{% else %}
	<div class="aside-nav-passive">
{% endif %}
	<a href="/spectacles-et-conferences.html">Spectacles et conférences</a>
	</div>
