{% if page.url == '/' %}
	<div class="header-nav-active">
{% else %}
	<div class="header-nav-passive">
{% endif %}
		<a href="/">Accueil</a>
	</div>

{% if page.url == '/jeuner.html' %}
	<div class="header-nav-active">
{% else %}
	<div class="header-nav-passive">
{% endif %}
		<a href="/jeuner.html">Jeûner</a>
	</div>

{% if page.url == '/rencontres.html' %}
	<div class="header-nav-active">
{% else %}
	<div class="header-nav-passive">
{% endif %}
		<a href="/rencontres.html">Rencontres</a>
	</div>

{% if page.url == '/qui.html' %}
	<div class="header-nav-active">
{% else %}
	<div class="header-nav-passive">
{% endif %}
		<a href="/qui.html">Qui ?</a>
	</div>