#follow-invit {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	div:not(:first-child) {
		margin-left: 11px;
	}
	a {
		font-size: 1.2em;
		padding: 6px 8px;
		border-radius: 5px;
		border: 2px #000 solid;
		text-decoration: none;
		color: #000;
		opacity: 0.65;
	}
	a:hover, a:focus, a:active {
		color: #fff;
		background-color: #000;
		opacity: 1;
		text-decoration: none;
	}
}

#follow-invit-actualites {
	padding-bottom: 10px;
}

#follow-invit-contact {
	padding-top: 25px;
	padding-bottom: 15px;
}

#follow-invit-else {
	padding-top: 25px;
}

#div-motscles {
	margin-top: 40px;
	font-size: 0.85em;
	font-style: italic;
	text-align: justify;
	opacity: 0.8;
}


/* IMAGES ************************************************/

#div-portrait-leo {
	text-align: center;
	margin-bottom: 30px;
}

#portrait-leo {
	height: 220px;
	border-radius: 10px;
	@include mobile {
		height: 46vw;
		max-height: 180px;
	}
}

.portraits {
	float: left;
	height: 213px;
	border-radius: 10px;
	margin-top: 4px;
	margin-right: 10px;
	@include mobile {
		float: none;
		margin-right: 0;
	}
}

.div-photos {
	margin: 10px 0px 15px 0px;
	text-align: left;
}

.photos {
	height: 300px;
	border-radius: 10px;
	@include mobile {
		height: 41vw;
		max-height: 302px;
	}
}