---
---
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="/style.css">
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<header id="header" class="block">
	<div id="header-sitetitle">{{ site.title }}</div>
	<div id="header-sitesubtitle">Hygiène naturelle et pratique du jeûne</div>
	<nav id="header-nav">
		{% if page.url == '/' %}<div class="header-nav-active">
			{% else %}<div class="header-nav-passive">
			{% endif %}<a href="/">Accueil</a></div>
		{% if page.url == '/jeuner.html' %}<div class="header-nav-active">
			{% else %}<div class="header-nav-passive">
			{% endif %}<a href="/jeuner.html">Jeûner</a></div>
		{% if page.url == '/rencontres.html' %}<div class="header-nav-active">
			{% else %}<div class="header-nav-passive">
			{% endif %}<a href="/rencontres.html">Rencontres</a></div>
		{% if page.url == '/apropos.html' %}<div class="header-nav-active">
			{% else %}<div class="header-nav-passive">
			{% endif %}<a href="/apropos.html">A propos</a></div>
	</nav>
</header>

<main id="main" class="block">
	{{ content }}
</main>

<footer id="footer" class="block">
	Contact : Evelyne Curt — {{ site.phone }} — {{ site.email }}
</footer>

</body>
</html>
