---
---
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	<link rel="stylesheet" href="/style.css">
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<header id="header" class="block">
	<div id="header-text">
		<div id="header-sitetitle">{{ site.title }}</div>
		<div id="header-sitesubtitle">Osons faire confiance à la sagesse du vivant</div>
		<nav id="header-nav">
			{% include nav-header.html %}
		</nav>
	</div>
</header>

<main id="main" class="block">
	{{ content }}
</main>

<footer id="footer" class="block">
</footer>

</body>
</html>
